<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.stacks.todWorkflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1344A197-3D6A-4780-89B2-6965AD819CD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69D8FE8C-038E-4582-B73F-9BF0DC8D815B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FAB592B-65C1-46C0-9FD2-F5F9C29E5290</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>521CFF45-3C8D-45B1-AF7F-35E2A6440958</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CA015AF-C9E1-4CF2-AC7A-B4CB3172EDF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FAB592B-65C1-46C0-9FD2-F5F9C29E5290</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65165ABC-EBEF-423F-B3C3-4B00B2647C11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D61A6993-6D0E-4785-9B18-DD5F3C82055A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A9B26491-5B24-4780-8A89-06450C3441D6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1344A197-3D6A-4780-89B2-6965AD819CD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69D8FE8C-038E-4582-B73F-9BF0DC8D815B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCD1F155-6CDE-403B-80E6-E7A517D65717</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>793F5B60-5CC2-4880-A51F-FF4446EBC41B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF40B742-39CD-47ED-A8CE-38BB57700D94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF40B742-39CD-47ED-A8CE-38BB57700D94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65165ABC-EBEF-423F-B3C3-4B00B2647C11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D61A6993-6D0E-4785-9B18-DD5F3C82055A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52C792D5-43B7-44E2-82BD-B5D0B35545F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D866DA1D-5E55-49F2-AF16-AB9C87C22355</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>793F5B60-5CC2-4880-A51F-FF4446EBC41B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>stacksjb</string>
	<key>description</key>
	<string>Alfred workflow for adding Todoist Tasks using the Tod client</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tod Add Task</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if tod -t "${1}" &gt; /dev/null; then
    echo -n 0
else
    echo -n 1 
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF40B742-39CD-47ED-A8CE-38BB57700D94</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Task {var:input} created!</string>
				<key>title</key>
				<string>Task created!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D61A6993-6D0E-4785-9B18-DD5F3C82055A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>success.mp3</string>
				<key>systemsound</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>52C792D5-43B7-44E2-82BD-B5D0B35545F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>input</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>input</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>793F5B60-5CC2-4880-A51F-FF4446EBC41B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>Success</string>
						<key>uid</key>
						<string>A9B26491-5B24-4780-8A89-06450C3441D6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Failure</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>65165ABC-EBEF-423F-B3C3-4B00B2647C11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>td</string>
				<key>subtext</key>
				<string>Input Task...</string>
				<key>text</key>
				<string>Todo</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D866DA1D-5E55-49F2-AF16-AB9C87C22355</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>error.wav</string>
				<key>systemsound</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>FCD1F155-6CDE-403B-80E6-E7A517D65717</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>1344A197-3D6A-4780-89B2-6965AD819CD4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Task {var:input} creation failed. Check for updates, API key, or run setup.</string>
				<key>title</key>
				<string>Task Creation Failed!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>69D8FE8C-038E-4582-B73F-9BF0DC8D815B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>td-setup</string>
				<key>subtext</key>
				<string>Run Intial Config/Check Script</string>
				<key>text</key>
				<string>Todo Setup</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4CA015AF-C9E1-4CF2-AC7A-B4CB3172EDF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python3 setup.py</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>521CFF45-3C8D-45B1-AF7F-35E2A6440958</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>setup.py</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>3FAB592B-65C1-46C0-9FD2-F5F9C29E5290</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred Tod workflow

Requires Tod (https://github.com/alanvardy/tod) to be installed and configured (run td-setup after installation)

Creates task using todoist natural language processing from Todoist (so saying "at this time" or "tomorrow" or "p1 p2 p3" will be parsed by Todoist - it simply passes the argument to the TOD client</string>
	<key>uidata</key>
	<dict>
		<key>1344A197-3D6A-4780-89B2-6965AD819CD4</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>3FAB592B-65C1-46C0-9FD2-F5F9C29E5290</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>760</real>
		</dict>
		<key>4CA015AF-C9E1-4CF2-AC7A-B4CB3172EDF9</key>
		<dict>
			<key>note</key>
			<string>Input Task in Todoist NLP</string>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>521CFF45-3C8D-45B1-AF7F-35E2A6440958</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>52C792D5-43B7-44E2-82BD-B5D0B35545F7</key>
		<dict>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>65165ABC-EBEF-423F-B3C3-4B00B2647C11</key>
		<dict>
			<key>note</key>
			<string>Validate return for Success/Failure</string>
			<key>xpos</key>
			<real>578</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>69D8FE8C-038E-4582-B73F-9BF0DC8D815B</key>
		<dict>
			<key>note</key>
			<string>Failure Notification</string>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>793F5B60-5CC2-4880-A51F-FF4446EBC41B</key>
		<dict>
			<key>note</key>
			<string>Store input</string>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>CF40B742-39CD-47ED-A8CE-38BB57700D94</key>
		<dict>
			<key>note</key>
			<string>Pass input to TOD client for new task creation</string>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>D61A6993-6D0E-4785-9B18-DD5F3C82055A</key>
		<dict>
			<key>note</key>
			<string>Success Notification</string>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>D866DA1D-5E55-49F2-AF16-AB9C87C22355</key>
		<dict>
			<key>note</key>
			<string>Input Task in Todoist NLP</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>FCD1F155-6CDE-403B-80E6-E7A517D65717</key>
		<dict>
			<key>xpos</key>
			<real>920</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/stacksjb/AlfredTodWorkflow</string>
</dict>
</plist>
